<nav class="bg-gray-800 shadow p-2">
  <div class="flex justify-between items-center gap-2">
    <div class="flex gap-1">
      <a routerLink="/home">
        <img src="/logo-white-notitle.png" alt="Logo" class="h-10 w-10" />
      </a>
      <a
        class="home"
        routerLink="/home"
        routerLinkActive="is-active"
        [routerLinkActiveOptions]="{ exact: true }"
        >home</a
      >
    </div>

    <!-- ? Conditional rendering  -->

    @if (authService.isAuthenticated$ | async) {
    <ul class="flex gap-2">
      <li>
        <a
          routerLink="/notes"
          routerLinkActive="is-active"
          [routerLinkActiveOptions]="{ exact: true }"
          >Notes</a
        >
      </li>
      <li>
        <a
          routerLink="/notes/new"
          routerLinkActive="is-active"
          [routerLinkActiveOptions]="{ exact: true }"
          >Create Note</a
        >
      </li>
    </ul>
    <div class="buttons ml-auto">
      <button (click)="handleLogout()">Logout</button>
    </div>

    }@else {

    <!-- ?Guest Links -->

    <div class="buttons ml-auto flex space-x-4">
      <a
        routerLink="/login"
        routerLinkActive="is-active"
        [routerLinkActiveOptions]="{ exact: true }"
        >Login</a
      >
      <a
        routerLink="/signup"
        routerLinkActive="is-active"
        [routerLinkActiveOptions]="{ exact: true }"
        >Sign Up</a
      >
    </div>

    }
  </div>
</nav>
