/* src/components/common/Loader.css */
.loader-container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background-color: #f0f0f0; /* Optional: Adds a background color for better visibility */
}

.loader {
	width: 48px;
	height: 48px;
	border-radius: 50%;
	display: inline-block;
	position: relative;
	border: 10px solid;
	box-sizing: border-box;
	animation: animloader 1s linear infinite;
}

@keyframes animloader {
	0% {
		border-color: #004998 rgba(0, 123, 255, 0) rgba(0, 123, 255, 0)
			rgba(0, 123, 255, 0); /* Light blue */
	}
	33% {
		border-color: #004998 #0056b3 rgba(0, 123, 255, 0) rgba(0, 123, 255, 0); /* Medium blue */
	}
	66% {
		border-color: #004998 #0056b3 #003d80 rgba(0, 123, 255, 0); /* Darker blue */
	}
	100% {
		border-color: #004998 #0056b3 #003d80 #00264d; /* Darkest blue */
	}
}
